@charset "UTF-8";

body {
    color: rgb(4, 4, 131);
    background-color: rgb(212, 156, 12);
}

img {
    max-width: 50%;
    max-height: 50%;
}

th, td {
    text-align: justify;
}

td {
    color: black;
    font-weight: bold;
}

table {
    border: solid;
}